/*CSS reset*/

:root {
    --dark-gray: #1a2a32;
    --gray: #2e4756;
    --turquoise: #3cc4bf;
    --light-gray: #d3d3d3;
    --yellow: #f2b147;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    border: none;
}

html,
body {
    height: 100%;
    background-color: var(--dark-gray);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 50px repeat(3, 80px) 60px;
    gap: 5px;
}

@media (min-width: 768px) {
    .grid {
        width: 490px;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: 50px repeat(3, 150px) 60px;
        gap: 20px;
    }
}

.turn {
    color: var(--yellow);
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;

    display: flex;
    align-items: center;
    gap: 20px;
}

@keyframes turn-text-animation {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes turn-icon-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.turn p {
    font-size: 14px;
    animation: 0.6s ease-in-out turn-text-animation;
}

.turn i {
    font-size: 1.8rem;
    margin-left: 10px;
    animation: 0.6s ease-in-out turn-icon-animation;
}

/*Menu styles*/
.menu {
    position: relative;
}
.menu .items {
    position: absolute;
    z-index: 10;
    top: 60px;
    right: 0;
    background-color: #203139;
    border-radius: 2px;
    padding: 10px;
}

.menu-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    color: white;
    background-color: rgba(211, 211, 211, 0.05);
    border: 1px solid transparent;
}

.square {
    background-color: red;
}
.score {
    background-color: blue;
}
.actions {
    background-color: purple;
}
