/*CSS reset*/

:root {
    --dark-gray: #1a2a32;
    --gray: #2e4756;
    --turquoise: #3cc4bf;
    --light-gray: #d3d3d3;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    border: none;
}

html,
body {
    height: 100%;
    background-color: var(--dark-gray);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 50px repeat(3, 80px) 60px;
    gap: 5px;
}

@media (min-width: 768px) {
    .grid {
        width: 490px;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: 50px repeat(3, 150px) 60px;
        gap: 20px;
    }
}

.turn {
    align-self: center;
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    gap: 20px;
}
.square {
    background-color: red;
}
.score {
    background-color: blue;
}
.actions {
    background-color: purple;
}
